[submodule "external/SpDB"]
	path = external/SpDB
	url = git@gitee.com:SimPla/SpDB.git
[submodule "external/SpFlow"]
	path = external/SpFlow
	url = git@gitee.com:SimPla/SpFlow.git
[submodule "data"]
	path = data
	url = git@gitee.com:fusion_yun/fytokdata.git
[submodule "external/SpView"]
	path = external/SpView
	url = git@gitee.com:SimPla/spview.git
